# Django Settings
SECRET_KEY=your_secret_key_here
DEBUG=True

# Docker Postgres container settings
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Database Settings (PostgreSQL)
NAME=postgres
USER=postgres
PASSWORD=postgres
HOST=db
PORT=5432

# Celery / Redis
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
CACHE_LOCATION=redis://redis:6379/1

# Telegram Bot Settings (@BotFather)
API_TELEGRAM_BOT_FATHER=your_api
